@model CurriculumVitae.Models.CurriculumVitaeViewModel

<div class="row">
    <div class="col-sm-4">
        <img src="~/Images/jmcv.jpg" class="img-responsive img-thumbnail" />
    </div>
    <div class="col-sm-8 text-center">
        <h1>
            <small>Curriculum Vitae</small><br />
            <strong>Janusz Marcinik</strong>
        </h1>
        <h2><span class="label label-blue center-block">.NET Developer</span></h2>

        <div class="bs-callout bs-callout-info" style="padding: 0px;">
            <h4>
                <i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i>
                <a href="https://www.facebook.com/janusz.marcinik" target="_blank">
                    https://www.facebook.com/janusz.marcinik
                </a>
            </h4>
        </div>
        <div class="bs-callout bs-callout-info" style="padding: 0px;">
            <h4>
                <i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i>
                <a href="https://www.linkedin.com/in/janusz-marcinik-371045144" target="_blank">
                    https://www.linkedin.com/in/janusz-marcinik-371045144
                </a>
            </h4>
        </div>
        <div class="bs-callout bs-callout-info" style="padding: 0px;">
            <h4>
                <i class="fa fa-fw fa-github-square" aria-hidden="true"></i>
                <a href="https://github.com/januszmarcinik" target="_blank">
                    https://github.com/januszmarcinik
                </a>
            </h4>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-sm-6">
        <h2><span class="label label-blue center-block"><i class="fa fa-id-card-o" aria-hidden="true"></i> Basic informations</span></h2>
        <h4>
            <i class="fa fa-fw fa-home" aria-hidden="true"></i>
            Adress: 38-606 Baligród, 5 Wincentego Pola Street
        </h4>
        <h4>
            <i class="fa fa-fw fa-envelope" aria-hidden="true"></i>
            Email: januszmarcinik@gmail.com
        </h4>
        <h4>
            <i class="fa fa-fw fa-mobile-phone" aria-hidden="true"></i>
            Phone: +48 726-816-283
        </h4>
        <h4>
            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
            Date of birth: 19.06.1994
        </h4>

        <h2><span class="label label-blue center-block"><i class="fa fa-fw fa-graduation-cap"></i> Education</span></h2>
        <h4>
            <small>2015 - current<br /></small>
            University of Information Technology and Management in Rzeszow<br />
            <small>Field of study: Information Technology</small>
        </h4>
        <hr />
        <h4>
            <small>2010 - 2013<br /></small>
            High School in Lesko<br />
            <small>Faculty: Math and Physics</small>
        </h4>
        <hr />

        <h2><span class="label label-blue center-block"><i class="fa fa-fw fa-briefcase"></i> Work Experience</span></h2>
        <h4>
            <small>2016 - current<br /></small>
            Ideo Sp. z o.o., 35-234 Rzeszów, 13 Nad Przyrwą Street<br />
            <small>Position: .NET Developer</small>
        </h4>
        <h4>Performed tasks</h4>
        <ul>
            <li>Software development to streamline production processes</li>
            <li>B2B software development</li>
            <li>Work with databases in MSSQL</li>
            <li>Integrations with ERP systems through the WebAPI and WebServices</li>
            <li>Working with Git version control system</li>
            <li>Deploying and maintaining applications on customers servers</li>
            <li>Direct contact with customers</li>
        </ul>
        <hr />

        <h4>
            <small>2015 - 2016<br /></small>
            ElektroPro, 38-606 Baligród, 9 T. Kościa Street<br />
            <small>Position: Office worker</small>
        </h4>
        <h4>Performed tasks</h4>
        <ul>
            <li>Working on electrical projects</li>
            <li>Technical drawings in CAD software</li>
            <li>Software development to streamline work with electrical projects</li>
        </ul>
        <hr />

        <h2><span class="label label-blue center-block"><i class="fa fa-fw fa-cog"></i> Other work tools</span></h2>
        <h4>Ninject - Moq - NLog - AutoMapper - XML - SOAP - JSON</h4>

        <h2><span class="label label-blue center-block"><i class="fa fa-gamepad"></i> Hobbies</span></h2>
        <h4>Playing on guitar - Football - XBOX</h4>

    </div>

    <div class="col-sm-5 col-sm-offset-1">

        @Html.Partial("_Skills", Model.ProgrammingLanguages)
        @Html.Partial("_Skills", Model.NETTechnologies)
        @Html.Partial("_Skills", Model.BackEnd)
        @Html.Partial("_Skills", Model.FrontEnd)
        @Html.Partial("_Skills", Model.ForeignLanguages)
        @Html.Partial("_Skills", Model.Personal)

    </div>
</div>

<footer>
    <p>
        <div class="page-header text-center">
            <small>
                I hereby give consent for my personal data included in my application to be processed for the purposes of the recruitment process <br />
                under the Personal Data Protection Act as of 29 August 1997, consolidated text: Journal of Laws 2016, item 922 as amended.
            </small>
        </div>
    </p>
</footer>